body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  transition: 0.3s;
}

.light {
  background: #f5f7fb;
  color: #111;
}

.dark {
  background: #121212;
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 30px;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

h2,
h3 {
  text-align: center;
}

.dark-btn {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: royalblue;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid gray;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  padding: 12px 18px;
  border: none;
  border-radius: 8px;
  background: royalblue;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

.summary {
  text-align: center;
  margin-top: 30px;
}

.warning {
  color: red;
  font-weight: bold;
}

/* ANALYTICS */
.analytics {
  margin-top: 40px;
}

.chart-placeholder {
  margin-top: 20px;
  padding: 60px;
  border-radius: 12px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.light .chart-placeholder {
  background: #dbeafe;
  color: #111;
}

.dark .chart-placeholder {
  background: #1f2937;
  color: white;
}

/* AI INSIGHTS */
.insights {
  margin-top: 40px;
  padding: 25px;
  border-radius: 12px;
}

.light .insights {
  background: #e5e7eb;
  color: #111;
}

.dark .insights {
  background: #1f2937;
  color: white;
}

.insights p {
  font-size: 18px;
  margin: 15px 0;
}

/* ADD EXPENSE */
.add-expense {
  margin-top: 40px;
}

/* EXPENSE LIST */
.expense-list {
  margin-top: 40px;
}

.expense-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  margin-top: 15px;
  border-radius: 10px;
}

.light .expense-card {
  background: white;
}

.dark .expense-card {
  background: #1f2937;
}

.delete-btn {
  background: crimson;
}