body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  background: #f4f7fb;
  color: black;
  transition: 0.3s;
}

.dark {
  background: #121212;
  color: white;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

.main-heading {
  text-align: center;
  font-size: 55px;
  margin-bottom: 20px;
}

.dark .main-heading {
  color: white;
}

.mode-btn {
  display: block;
  margin: auto;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: royalblue;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
}

.card,
.chart-box,
.insights {
  background: white;
  padding: 25px;
  margin-top: 25px;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.dark .card,
.dark .chart-box,
.dark .insights {
  background: #1f2937;
  color: white;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid gray;
  box-sizing: border-box;
}

button {
  margin-top: 15px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: royalblue;
  color: white;
  cursor: pointer;
}

.warning {
  color: red;
  font-weight: bold;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  background: #f1f5f9;
}

.dark .expense-item {
  background: #374151;
}

.delete-btn {
  background: crimson;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark p,
.dark label {
  color: white;
}

.dark .warning {
  color: #ff6b6b;
}